h1 {
    align-items: center;
    color: red;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: yellow;
}
body {
    background-color: yellow;
}